In [1]:
from selenium import webdriver # permite criar o navegador
from selenium.webdriver.common.keys import Keys #permite escrever no navegador e apertar um tecla do teclado "enter"
from selenium.webdriver.common.by import By #permite selecionar itens no navegador

#Passo 1: pegar a cotacao do dolar
 #abrir o navegador
navegador = webdriver.Chrome()
 #entrar no google
navegador.get("https://www.google.com/")
#pesquisar no google por cotacao dolar
navegador.find_element("xpath",'//*[@id="APjFqb"]').send_keys("cotação dólar") # send_keys() usado para escrever no elemento e find_element('xpath','') usado para identificar o elemento da tela
navegador.find_element("xpath",'//*[@id="APjFqb"]').send_keys(Keys.ENTER) #keys.ENTER ( sempre com 'K' e ENTER maiusculo) usado para apertar uma tecla do teclado

#pegar a cotacao
cotacao_dolar =  navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value') #get_attribute usado para coletar o "valor" do elemento
print(cotacao_dolar)

#Passo 2: pegar a cotacao do euro
navegador.get("https://www.google.com/")
navegador.find_element("xpath",'//*[@id="APjFqb"]').send_keys("cotação Euro")
navegador.find_element("xpath",'//*[@id="APjFqb"]').send_keys(Keys.ENTER)
cotacao_euro =  navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

#Passo 3: pegar a cotacao do ouro
navegador.get('https://www.melhorcambio.com/ouro-hoje')
cotacao_ouro = navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')

cotacao_ouro = cotacao_ouro.replace(",",".") #usado para trocar virgula por ponto (python nao reconhece virgula)
print(cotacao_ouro)

navegador.quit()

4.935099999999999
5.3393587160000004
324.34

In [2]:
import pandas #biblioteca para dados


tabela = pandas.read_excel("Produtos.xlsx") #usado para ler arquivos excel
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [3]:
#Passo 4: atualizar a base de precos (atualizando o preco de compra e de venda)
#atualizar a coluna de cotacao
#eu quero editar a coluna cotacao, onde a coluna moeda = dolar
#tabela.loc[linha,coluna]
tabela.loc[tabela["Moeda"] == "Dólar","Cotação"] = float(cotacao_dolar) #usado para transformar para casa decimais float()
tabela.loc[tabela["Moeda"] == "Euro","Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro","Cotação"] = float(cotacao_ouro)

#atualizar a coluna de preco de compra = preco original * cotacao
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]
#atualizar a coluna de preco de venda = preco compra * margem
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]#.map("R${:.2f}".format) #<usado para transformar em R$
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,4.935100,4935.050649,1.40,6909.070909
1,Carro Renault,4500.00,Euro,5.339359,24027.114222,2.00,48054.228444
2,Notebook Dell,899.99,Dólar,4.935100,4441.540649,1.70,7550.619103
3,IPhone,799.00,Dólar,4.935100,3943.144900,1.70,6703.346330
4,Carro Fiat,3000.00,Euro,5.339359,16018.076148,1.90,30434.344681
5,Celular Xiaomi,480.48,Dólar,4.935100,2371.216848,2.00,4742.433696
6,Joia 20g,20.00,Ouro,324.340000,6486.800000,1.15,7459.820000

In [4]:
#Passo 5: exportar a base de precos atualizado
tabela["Preço de Compra"] = tabela["Preço de Compra"].map("R${:.2f}".format) #formatando para reais as casas decimais
tabela["Preço de Venda"] = tabela["Preço de Venda"].map("R${:.2f}".format)   

tabela.to_excel("Produtos NOVO2.xlsx", index=False) # index=false usado para tirar a coluna de indice da tabela ( numeros de linhas)

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,4.935100,R$4935.05,1.40,R$6909.07
1,Carro Renault,4500.00,Euro,5.339359,R$24027.11,2.00,R$48054.23
2,Notebook Dell,899.99,Dólar,4.935100,R$4441.54,1.70,R$7550.62
3,IPhone,799.00,Dólar,4.935100,R$3943.14,1.70,R$6703.35
4,Carro Fiat,3000.00,Euro,5.339359,R$16018.08,1.90,R$30434.34
5,Celular Xiaomi,480.48,Dólar,4.935100,R$2371.22,2.00,R$4742.43
6,Joia 20g,20.00,Ouro,324.340000,R$6486.80,1.15,R$7459.82

- Atualizando os preços e o cálculo do Preço Final